body {
  background-color: #312e2b;
}

#board {
  width: 75vw;
  height: 75vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-image: url("../resources/board.png");
  background-size: 100%;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12.5%;
  height: 12.5%;
}

.black {
  background-color: #8877b7;
}

.white {
  background-color: #efefef;
}

#piece {
  background-color: #f9f9f9;
  width: 5vw;
  height: 5vw;
  outline-style: solid;
  outline-width: 2px;
  border-radius: 20px;
  position: absolute;
  cursor: grab;
}
