body {
  background-color: #312e2b;
}

#board {
  width: 75vw;
  height: 75vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-image: url("../resources/board.png");
  background-size: 100%;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12.5%;
  height: 12.5%;
  outline-style: solid;
  outline-width: 1px;
}

#piece {
  width: 9vw;
  height: 9vw;
  position: absolute;
  cursor: grab;
  background-image: url("../resources/black-pawn.png");
  background-size: 100%;
}
